{% extends 'layouts/main_layout.twig' %}

{% block body %}
    <h1>{{ challenge.label }}</h1>
    <hr/>
    <div class="row">
        <p class="col-12">{{ challenge.description }}</p>
    </div>
    {% if challenge.file %}
        <hr/>
        <h5>Ces fichiers vous seront utiles pour votre challenge</h5>
        <div class="row">
            <p class="col-12">
                <a href="/uploads/{{ challenge.file }}">Télécharger l'archive</a>
            </p>
        </div>
    {% endif %}
    <div class="row">
        <form method="post" class="form-inline">
            <div class="form-group">
                <label for="challenge-flag" class="sr-only">Mot-de-passe du challenge</label>
                <div class="input-group">
                    <input type="text" class="form-control {% if error is defined %} is-invalid {% endif %}" name="password" placeholder="Flag"/>
                    {% if error is defined %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock body %}