@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

.vertical-divider {
    border-left: 1px solid $secondary;
}

.column-header {
    position: relative;

    &::after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: -15px;
        left: 0px;
        background-color: $primary;
        width: 100px;
    }
}

.text-gold {
    color: $gold;
}

.text-silver {
    color: $silver;
}

.text-bronze {
    color: $bronze;
}