{% extends 'layouts/main_layout.twig' %}

{% block body %}
    <h1>Bienvenue !</h1>
    <p>
        Sur cette plateforme, vous pourrez vous confronter à des épreuves de cyber-sécurité concotées par nos équipes et notre communauté !<br/>
        Que vous ayez simplement envie de mettre en pratique vos connaissances ou que vous soyez curieux d'en apprendre plus vis-à-vis de la sécurité informatique,
        cette plateforme recense de nombreux challenges qui vous aideront à progresser quel que soit votre niveau.
    </p>
    <div class="card">
        <div class="card-header border-info">
            <h5>Nos membres les plus éminents</h5>
        </div>
        <div class="card-body">
            <ul class="list-group border-0">
                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0">
                    Pierrick Couget <span class="text-gold"><i class="far fa-trophy"></i> 100 pts</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0">
                    François Delrue <span class="text-silver"><i class="far fa-trophy"></i> 98 pts</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0">
                    Loïc Huon <span class="text-bronze"><i class="far fa-trophy"></i> 8 pts</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
